<!DOCTYPE html>
<html class="gr__w3schools_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>News</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/css.css">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script defer src="/__/firebase/5.9.4/firebase-app.js"></script>

</head><body class="w3-light-grey" data-gr-c-s-loaded="true">

<div class="w3-content" style="max-width:1400px">

<header class="w3-container w3-center w3-padding-16"> 
  <h1><span class="w3-tag"><b> < < < TRENDING NEWS > > ></b></span></h1>
</header>

{{#each shownews}}
  
      <a href={{url}}>
  <div class="w3-card-4 w3-margin w3-white">
    <img src={{urlimage}} alt="Nature" style="width:100%">

    <div class="w3-container">
      <h3><b>{{title}}</b></h3>
      <h5>{{description}}<span class="w3-opacity">April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>{{content}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments &nbsp;</b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  </a>
  <hr>
 
        {{/each}}
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
  <!-- Blog entry -->

</div>



<!-- Introduction menu -->
  {{!-- <div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
    <img src="./img/avatar_g.jpg" style="width:100%">
      <div class="w3-container w3-white">
        <h4><b>My Name</b></h4>
        <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
      </div>
    </div><hr> --}}
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
      {{#each shownews}}
    <a href={{url}}>
    <ul class="w3-ul w3-hoverable w3-white">
    
  <li class="w3-padding-16">
        <img src={{urlimage}} alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{title}}</span><br>
      </li>
        
    </ul>
    </a>
    {{/each}}
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> Trending News<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->

</body></html>
